@import '~lato-font/css/lato-font.min.css';

body {
    font-family: 'Lato', 'Open Sans', sans-serif;
    font-size: 12px;
    --background-color: var(--app-background);
    --color: var(--app-color);
    cursor: default;
    user-select: none;
}

body #root {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #3f3f3f;
}